@font-face {
  font-family: SFProD;
  font-display: swap;
  src: url("../../assets/fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: SFProD;
  font-display: swap;
  src: url("../../assets/fonts/SF-Pro-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SFUIText;
  font-display: swap;
  src: url("../../assets/fonts/SFUIText-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SFUIText;
  font-display: swap;
  src: url("../../assets/fonts/SFUIText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}