:root {
  --white: #ffffff;
  --gray: #4F4F4F;
  --gray-old-price: #888888;
  --gray-light: #F2F2F2;
  --gray-devider: #727783;
  --gray-breadcrumbs: #828282;
  --gray-card-border: #EEEEEE;
  --black: #000000;
  --red: #EB5757;
  --green: #27AE60;
}